$anthracite-80: #484f53;
$anthracite-70: #5f6569;
$anthracite-50: #8c9193;
$anthracite-25: #c6c8c9;

$blue-pale-30: #cbd4e2;
$blue-pale-20: #dce2eb;
$blue-pale-15: #e5eaf0;
$blue-pale-5: #f6f8fa;

$white-100: #ffffff;

$shadow: #dde3ec;
