$anthracite-100: #1a2328;
$anthracite-80: #484f53;
$anthracite-70: #5f6569;
$anthracite-50: #8c9193;
$anthracite-25: #c6c8c9;
$anthracite-15: #dddedf;
$anthracite-8: #ededee;
$anthracite-4: #f6f6f6;

$blue-100: #0088da;
$blue-20: #cce7f8;
$blue-15: #d9edf9;
$blue-10: #e6f3fb;
$blue-5: #f2f9fd;

$blue-pale-100: #63879c;
$blue-pale-80: #758cb1;
$blue-pale-60: #97a9c4;
$blue-pale-40: #bac6d8;
$blue-pale-30: #cbd4e2;
$blue-pale-20: #dce2eb;
$blue-pale-15: #e5eaf0;
$blue-pale-10: #eef1f5;
$blue-pale-5: #f6f8fa;
$blue-saturated-100: #009fff;
$navy-blue-100: #26438f;

$red-100: #d71515;
$red-15: #fae3e3;
$red-5: #fdf3f3;
$dark-red-100: #a30303;
$dark-red-90: #bc2626;

$white-100: #ffffff;

$bg-color: #f5f8fd;
$shadow: #dde3ec;
